dist/
dist-react/
dist-vue/
www/
loader/
coverage/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
.vitest-attachments/
**/__screenshots__/
node_modules/
$RECYCLE.BIN/
.junie/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.toki
